{
  "openapi": "3.1.0",
  "info": {
    "title": "PrizePicks Data API",
    "description": "Provides current and normalized PrizePicks prop bet data scraped daily",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://cdn.jsdelivr.net/gh/enkday/prizepicks-data-mirror@main"
    }
  ],
  "paths": {
    "/data/prizepicks-nfl.json": {
      "get": {
        "summary": "Get NFL props (standard only)",
        "description": "Returns only NFL prop bets (standard odds).",
        "operationId": "getNFLProps",
        "responses": {
          "200": {
            "description": "Successful response with NFL prop bet data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              }
            }
          }
        }
      }
    },
    "/data/prizepicks-nfl-today.json": {
      "get": {
        "summary": "Get today's NFL props (standard)",
        "description": "Returns only today's NFL prop bets (standard odds) to keep payload small.",
        "operationId": "getNFLPropsToday",
        "responses": {
          "200": {
            "description": "Successful response with NFL prop bet data for today",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              }
            }
          }
        }
      }
    },
    "/data/prizepicks-nfl-tomorrow.json": {
      "get": {
        "summary": "Get NFL props for tomorrow only (standard)",
        "description": "Returns only tomorrow's NFL prop bets (standard odds) to keep payload small.",
        "operationId": "getNFLPropsTomorrow",
        "responses": {
          "200": {
            "description": "Successful response with NFL prop bet data for tomorrow",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              }
            }
          }
        }
      }
    },
    "/data/prizepicks-nfl-next-7-days.json": {
      "get": {
        "summary": "Get NFL props for next 7 days (standard)",
        "description": "Returns next 7 days of NFL prop bets (standard odds) to keep payload manageable.",
        "operationId": "getNFLPropsNext7Days",
        "responses": {
          "200": {
            "description": "Successful response with NFL next 7 days prop bet data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              }
            }
          }
        }
      }
    },
    "/data/prizepicks-nba-today.json": {
      "get": {
        "summary": "Get today's NBA props (standard)",
        "description": "Returns only today's NBA prop bets (standard odds) to keep payload small.",
        "operationId": "getNBAPropsToday",
        "responses": {
          "200": {
            "description": "Successful response with NBA prop bet data for today",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              }
            }
          }
        }
      }
    },
    "/data/prizepicks-nba-next-7-days.json": {
      "get": {
        "summary": "Get NBA props for next 7 days (standard)",
        "description": "Returns next 7 days of NBA prop bets (standard odds).",
        "operationId": "getNBAPropsNext7Days",
        "responses": {
          "200": {
            "description": "Successful response with NBA next 7 days prop bet data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              }
            }
          }
        }
      }
    },
    "/data/prizepicks-nba-tomorrow.json": {
      "get": {
        "summary": "Get NBA props for tomorrow only (standard)",
        "description": "Returns only tomorrow's NBA prop bets (standard odds) to keep payload small.",
        "operationId": "getNBAPropsTomorrow",
        "responses": {
          "200": {
            "description": "Successful response with NBA prop bet data for tomorrow",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              }
            }
          }
        }
      }
    },
    "/data/prizepicks-ncaaf.json": {
      "get": {
        "summary": "Get ALL standard College Football props",
        "description": "Returns ALL College Football prop bets (standard odds only; excludes goblin/demon variants).",
        "operationId": "getNCAAFPropsAll",
        "responses": {
          "200": {
            "description": "Successful response with all CFB props",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              }
            }
          }
        }
      }
    },
    "/data/prizepicks-ncaaf-next-7-days.json": {
      "get": {
        "summary": "Get College Football props for next 7 days (standard)",
        "description": "Returns next 7 days of College Football prop bets (standard odds).",
        "operationId": "getNCAAFPropsNext7Days",
        "responses": {
          "200": {
            "description": "Successful response with NCAAF next 7 days prop bet data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              }
            }
          }
        }
      }
    },

    "/data/nfl-today/{team}.json": {
      "get": {
        "summary": "Get NFL props for a team (today)",
        "description": "Returns NFL props for a single team for today. Use team file slug like 'kansas-city-chiefs' or 'los-angeles-chargers'.",
        "operationId": "getNFLTeamToday",
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Team file slug (without .json), e.g. 'kansas-city-chiefs'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with team-level NFL prop bet data (today)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              }
            }
          }
        }
      }
    },
    "/data/nfl-tomorrow/{team}.json": {
      "get": {
        "summary": "Get NFL props for a team (tomorrow)",
        "description": "Returns NFL props for a single team for tomorrow. Use team file slug like 'kansas-city-chiefs' or 'los-angeles-chargers'.",
        "operationId": "getNFLTeamTomorrow",
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Team file slug (without .json), e.g. 'kansas-city-chiefs'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with team-level NFL prop bet data (tomorrow)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              }
            }
          }
        }
      }
    },

    "/data/hierarchy/current_day/games.json": {
      "get": {
        "summary": "Get normalized games for current day (CST)",
        "description": "Normalized games table for current day (CST).",
        "operationId": "getNormalizedGamesToday",
        "responses": {
          "200": {
            "description": "Array of games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedGame" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedGame" }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/current_day/teams.json": {
      "get": {
        "summary": "Get normalized teams for current day",
        "operationId": "getNormalizedTeamsToday",
        "responses": {
          "200": {
            "description": "Array of teams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedTeam" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedTeam" }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/current_day/players.json": {
      "get": {
        "summary": "Get normalized players for current day",
        "operationId": "getNormalizedPlayersToday",
        "responses": {
          "200": {
            "description": "Array of players",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedPlayer" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedPlayer" }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/current_day/props.json": {
      "get": {
        "summary": "Get normalized props for current day",
        "operationId": "getNormalizedPropsToday",
        "responses": {
          "200": {
            "description": "Array of props",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedProp" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedProp" }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/current_day/slates.json": {
      "get": {
        "summary": "Get normalized slates for current day",
        "operationId": "getNormalizedSlatesToday",
        "responses": {
          "200": {
            "description": "Array of slates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedSlate" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedSlate" }
                }
              }
            }
          }
        }
      }
    },

    "/data/hierarchy/tomorrow/games.json": {
      "get": {
        "summary": "Get normalized games for tomorrow (CST)",
        "operationId": "getNormalizedGamesTomorrow",
        "responses": {
          "200": {
            "description": "Array of games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedGame" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedGame" }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/tomorrow/teams.json": {
      "get": {
        "summary": "Get normalized teams for tomorrow",
        "operationId": "getNormalizedTeamsTomorrow",
        "responses": {
          "200": {
            "description": "Array of teams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedTeam" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedTeam" }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/tomorrow/players.json": {
      "get": {
        "summary": "Get normalized players for tomorrow",
        "operationId": "getNormalizedPlayersTomorrow",
        "responses": {
          "200": {
            "description": "Array of players",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedPlayer" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedPlayer" }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/tomorrow/props.json": {
      "get": {
        "summary": "Get normalized props for tomorrow",
        "operationId": "getNormalizedPropsTomorrow",
        "responses": {
          "200": {
            "description": "Array of props",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedProp" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedProp" }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/tomorrow/slates.json": {
      "get": {
        "summary": "Get normalized slates for tomorrow",
        "operationId": "getNormalizedSlatesTomorrow",
        "responses": {
          "200": {
            "description": "Array of slates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedSlate" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedSlate" }
                }
              }
            }
          }
        }
      }
    },

    "/data/hierarchy/archive/{date}/games.json": {
      "get": {
        "summary": "Get normalized games for an archived date (CST)",
        "operationId": "getNormalizedGamesArchive",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "description": "Date as YYYY-MM-DD in CST" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedGame" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedGame" }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/archive/{date}/teams.json": {
      "get": {
        "summary": "Get normalized teams for an archived date",
        "operationId": "getNormalizedTeamsArchive",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "description": "Date as YYYY-MM-DD in CST" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of teams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedTeam" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedTeam" }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/archive/{date}/players.json": {
      "get": {
        "summary": "Get normalized players for an archived date",
        "operationId": "getNormalizedPlayersArchive",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "description": "Date as YYYY-MM-DD in CST" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of players",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedPlayer" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedPlayer" }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/archive/{date}/props.json": {
      "get": {
        "summary": "Get normalized props for an archived date",
        "operationId": "getNormalizedPropsArchive",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "description": "Date as YYYY-MM-DD in CST" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of props",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedProp" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedProp" }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/archive/{date}/slates.json": {
      "get": {
        "summary": "Get normalized slates for an archived date",
        "operationId": "getNormalizedSlatesArchive",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "description": "Date as YYYY-MM-DD in CST" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of slates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedSlate" }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NormalizedSlate" }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PrizePicksData": {
        "type": "object",
        "properties": {
          "scrapedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when data was scraped"
          },
          "scrapedDate": {
            "type": "string",
            "description": "Human-readable date of scraping"
          },
          "source": {
            "type": "string",
            "description": "Data source (PrizePicks)"
          },
          "totalProps": {
            "type": "integer",
            "description": "Total number of prop bets available"
          },
          "props": {
            "type": "array",
            "description": "Array of all prop bets",
            "items": {
              "$ref": "#/components/schemas/PropBet"
            }
          }
        }
      },
      "PropBet": {
        "type": "object",
        "properties": {
          "player": { "type": "string", "description": "Player name" },
          "Team": { "type": "string", "description": "Team name (market + mascot)" },
          "stat": { "type": "string", "description": "Stat type" },
          "line": { "type": "number", "description": "Over/under line value" },
          "sport": { "type": "string", "description": "Sport" },
          "Opponent": { "type": "string", "description": "Opponent name" },
          "teamCode": { "type": "string", "description": "Team abbreviation/code when available" },
          "opponentCode": { "type": "string", "description": "Opponent abbreviation/code when available" },
          "startTime": { "type": "string", "description": "Game start time in CST formatted as MM/DD/YY HH:MM AM/PM CST" },
          "startTimeIso": { "type": "string", "description": "ISO start time if provided" },
          "oddsType": { "type": "string", "description": "Odds type" },
          "gameId": { "type": "string", "description": "Game identifier from PrizePicks" },
          "rank": { "type": "integer", "description": "PrizePicks-provided rank/order within the board" }
        }
      },
      "NormalizedGame": {
        "type": "object",
        "properties": {
          "gameId": { "type": "string" },
          "sport": { "type": "string" },
          "startTime": { "type": "string", "description": "CST time string MM/DD/YY HH:MM AM/PM CST" },
          "teams": { "type": "array", "items": { "type": "string" } },
          "slate": { "type": "string", "description": "Slate bucket (Early/Late)" },
          "dayBranch": { "type": "string", "description": "current_day or tomorrow or archive date" }
        }
      },
      "NormalizedTeam": {
        "type": "object",
        "properties": {
          "teamCode": { "type": "string" },
          "teamName": { "type": "string" },
          "sport": { "type": "string" }
        }
      },
      "NormalizedPlayer": {
        "type": "object",
        "properties": {
          "playerId": { "type": "string" },
          "playerName": { "type": "string" },
          "teamCode": { "type": "string" },
          "sport": { "type": "string" }
        }
      },
      "NormalizedProp": {
        "type": "object",
        "properties": {
          "propId": { "type": "string" },
          "gameId": { "type": "string" },
          "playerId": { "type": "string" },
          "stat": { "type": "string" },
          "line": { "type": "number" },
          "teamCode": { "type": "string" },
          "opponentCode": { "type": "string" },
          "oddsType": { "type": "string" },
          "sport": { "type": "string" },
          "startTime": { "type": "string" },
          "startTimeIso": { "type": "string" },
          "dayBranch": { "type": "string" }
        }
      },
      "NormalizedSlate": {
        "type": "object",
        "properties": {
          "dayBranch": { "type": "string" },
          "slate": { "type": "string" },
          "gameIds": { "type": "array", "items": { "type": "string" } },
          "totalProps": { "type": "integer" }
        }
      }
    }
  }
}
